# PlatformIO Build and Environment Folders
.pio/
.vscode/

# Compiled object files and binaries
*.o
*.d
*.bin
*.hex

# Sensitive user files (API keys, passwords)
src/secrets.h

# Operating System temporary files
.DS_Store
Thumbs.db
